body {
    font-family: bai jamjuree;

}

header {
    background-image: url(/images/bg-header-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;

}
.logo {
    display: flex;
    justify-content: center;
    padding-top: 60px;
}
.cta-block {
    text-align: center;
    padding-top: 0;
}
.cta-block h1 {
    color:#4C545C;
    font-size: 32px;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: -0.5px;
}
.cta-block p {
    color:#9EABB2;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.15px;
}
.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.btn-ios {
    background-color: #26BBA4;
    color: white;
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.5px;
    border-radius: 28px;
    padding: 10px 56px;
    border:none;
}
.btn-mac {
    background-color: #6174FF;
    color: white;
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.5px;
    border-radius: 28px;
    padding: 10px 56px;
    border:none;
}
.features-intro {
    text-align: center;
    margin-bottom: 60px;

}
.features-intro h2 {
    margin-bottom: 10px;
    margin-top: 120px;
    color:#4C545C;
    font-size: 28px;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: -0.5px;
}
.features-intro p {
    margin-top:0;
    color:#9EABB2;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.15px;
}
.features {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.features-image img {
    max-width: 100%;
    height: auto;
}
.features-item h3 {
    margin-bottom: 0;
    color:#4C545C;
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: -0.6px;
}
.features-item p {
    margin-top: 0;
    color:#9EABB2;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.15px;
}
.features-list {
    margin-top: 40px;
}
.tools-intro {
    text-align: center;
    margin-bottom: 60px;
}
.tools-intro h2 {
    margin-bottom: 10px;
    margin-top: 120px;
    color:#4C545C;
    font-size: 28px;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: -0.5px;
}
.tools-intro p {
    margin-top: 0;
    color:#9EABB2;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.15px;
}
.tools-intro img {
    margin-top: 40px;
    max-width: 100%;
    height: auto;
}
.tools-header {
    text-align: center;
    margin-bottom: 60px;
}
.tools-header h3 {
    color:#4C545C;
    font-size: 36px;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: -0.6px;
}
.tools-header p {
    color:#9EABB2;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.15px;
}
.tools-list {
    text-align: center;
}
.tools-item {
    margin-bottom: 60px;
}
.tools-item h4 {
    margin-bottom: 10px;
    color:#4C545C;
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: -0.6px;
}
.tools-item p {
    margin-top: 0;
    color:#9EABB2;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.15px;
}
.logo-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo-company {
    margin-top: 40px;
    margin-bottom: 56px;
    max-width: 80%;
    height: auto;
}

@media (min-width: 768px) {
    .btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }
    .btn-ios:hover {
        background-color: #5DCCBB;
    }
    .btn-mac:hover {
        background-color: #8897FF;
    }
    .features-intro {
        max-width: 718px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: flex;
        margin: 0 auto;
    }
    .features {
        display: flex;
        flex-direction: row;          
        align-items: center;
        justify-content: center;
        gap: 80px;
        text-align: left;
        margin-top: 60px;
    }

    .features-list {
        flex-direction: column;       
        align-items: flex-start;
        max-width: 400px;
        gap: 24px;
    }
    .tools-list {
        
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        gap: 60px;
    }
    .logo-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 90px;
    }
}

@media (min-width: 992px) {
    .btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }
    .btn-ios:hover {
        background-color: #5DCCBB;
    }
    .btn-mac:hover {
        background-color: #8897FF;
    }
}