header {
    background-image: url(/images/bg-header-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    height: 300px;
}

.logo {
    display: flex;
    justify-content: center;
    padding-top: 60px;

}


@media (min-width: 768px) {

}

@media (min-width: 992px) {

}